/* 共通 */
* {
  box-sizing: border-box;
  text-decoration: none;
}
html {
    scroll-behavior: smooth;
}


/* BODY */

.main-wrapper {
    width: 100%;    
    overflow: hidden;  
}

/* TOP */
.top {
    height: 100vh;
    background-size: cover;
    background-image: url(../img/main.jpg);
}
.top-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.icon {
    display: none;
}

/* HEADER */
header {
    width: 100%;
    padding-top: 50px;
    padding-right: 55px;
    position: absolute;
    z-index: 1;
}
nav {
    display: flex;
    justify-content: flex-end;
}

.nav-list li {
    display: inline-block;
    text-shadow: 2px 2px black;
    margin-right: 40px;
}
.nav-list li:last-child {
    padding: 10px;
    border: 3px solid white;
    box-shadow: 
    2px 2px, 2px 2px inset;
    transition: .8s;
}
.nav-list li:last-child:hover {
    opacity: 0.7;
}
.nav-list li a {
    font-size: 20px;
    color: white;
    position: relative;
}
.nav-list li a::after {
    border-bottom: 2px solid white;
    position: absolute;
    bottom: -10px;
    content: "";
    display: block;
    transition: all .3s ease;
    width: 0;
}
.nav-list li a:hover::after {
    width: 100%;
}
.nav-list li:last-child a::after {
    display: none;
}
/* HEADER */

/* TOP MAIN */
.frase {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translate(0, -50%);
}
.frase h1 {
    color: white;
    font-style: italic;
    font-size: 66px;
    letter-spacing: 0.3em;
    line-height: 1.5;
    text-shadow: 2px 2px black;
}
.frase p {
    color: white;
    letter-spacing: .3em;
    text-shadow: 2px 2px black;
}
.company-name {
    position: absolute;
    bottom: 35px;
    left: 80px;
}
.company-name p {
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px black;
    letter-spacing: .2em;
    text-align: center;
    line-height: 1.5em;
}
.company-name p:first-child {
    font-weight: bold;
    letter-spacing: .3em;
}
/* TOP */


/* service-contents */
.service-contents {
    width: 100%;
    height: 100%;
    background-image: url(../img/contents-bg.jpg);
    background-size: cover;
}
.company-contents-title {
    padding-top: 80px;
    text-align: center;
}
.company-contents-title h2 {
    font-size: 58px;
    color: #1E416B;
    letter-spacing: .3em;
}
.company-contents-title p {
    font-size: 28px;
    margin: 50px 0;
}
.company-contents-upper {
    width: 100%;
    position: relative;
}
.company-contents-img {
    width: 769px;
    height: 502px;
    opacity: .8;
}
.contents-upper-box {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    width: 530px;
    height: 356px;
    position: absolute;
    top: 75px;
    left: 42%;
    box-shadow: 20px 20px 14px rgba(0, 0, 0, 0.4);
}
.contents-box-title {
    font-size: 28px;
    padding-bottom: 20px;
}
.contents-box-text {
    font-size: 15px;
    letter-spacing: .1em;
    line-height: 2em;
}
.company-contents-down {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 45px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.contents-down-box {
    width: 530px;
    height: 356px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 75px;
    left: 15%;
    box-shadow: 20px 20px 14px rgba(0, 0, 0, 0.4);
    background-color: #fff;
}

/* LINEUP */
.item-lineup {
    width: 100%;
    background-color: #E6ECF0;
}
.lineup-container {
    width: 90%;
    margin: 0 auto;
    padding: 45px 0;
    display: flex;
}
.item-lineup-title {
    width: 30%;
    margin-right: 30px;
}
.item-lineup-title h4 {
    padding: 20px;
    
    font-size: 26px;
    color: white;
    border-radius: 4px;
    background-color: #A1C1C2;
}
.item-lineup-items p {
    font-size: 16px;
    line-height: 2em;
}
/* LINEUP */

/* company-contents */


/* VISON */
.company-vision {
    width: 100%;
    height: 1030px;
    background-image: url(../img/vision-bg.jpg);
    background-size: 100% 100%;
}

.vision-title {
    padding-top: 85px;
    text-align: center;
}
.vision-title h2 {
    font-size: 58px;
    color: #1E416B;
    letter-spacing: .3em;
}
.vision-item {
    display: flex;
}
.item1 {
    padding-top: 90px;
    padding-right: 305px;
    padding-left: 60px;
}
.item2 {
    padding-top: 140px;
    padding-right: 200px;
    padding-left: 195px;
}
.item3 {
    padding-top: 140px;
    padding-right: 40px;
    padding-left: 380px;
}
.vision-item dt h3 {
    padding-right: 30px;
    color: #557598;
    font-size: 91px;
    font-style: italic;
}
.vision-item dd {
    padding-top: 8px;
}
.vision-item dd h4 {
    padding-bottom: 25px;
    color: #738EAA;
    font-size: 24px;
    letter-spacing: 0.2em;
}
.item2 dd h4 {
    letter-spacing: 0.1em;
}
.vision-item dd p {
    color: #000;
    font-size: 15px;
    letter-spacing: 0.2em;
    line-height: 1.8em;
}
.item3 dd p {
    padding-right: 120px;
}
/* VISON */


/* CONTACT */

#contact {
    width: 100%;
    height: 450px;
    display: flex;
}
.contact-tel {
    width: 50%;
    background-image: url(../img/contact-tel.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.contact-tel-bgcover {
    width: 100%;
    height: 100%;
    background-color: #152B69;
    opacity: 0.5;
    position: absolute;
}
.contact-tel h4 {
    color: white;
    font-size: 26px;
    line-height: 50px;
    z-index: 1;
}
.contact-tel h4 span {
    font-size: 24px;
}
.contact-tel h4 .fa-phone-alt {
    font-size: 20px;
    padding-right: 10px;
}
.contact-mail {
    width: 50%;
    background-color: #213F8A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-mail h4 {
    color: white;
    font-size: 26px;
    font-family: 'Century Gothic';
    font-weight: 400;
}
.contact-mail p {
    margin-top: 40px;
    cursor: pointer;
}
.contact-mail p a {
    color: white;
    font-size: 14px;
    padding: 15px;
    transition: .9s;
    display: inline-block;
    border: 1px solid white;
}
.contact-mail p a:hover {
    color: #213F8A;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #333;
    opacity: 0.8;
    
}
/* CONTACT */


/* FOOTER */

footer {
    width: 100%;
    height: 400px;
    background-color: #231815;
}
.footer-container {
    display: flex;
    flex-direction: row;
}
.footer-left {
    height: 100%;
    width: 50%;
    position: relative;
}
.vertical-line {
    width: 1px;
    height: 280px;
    position: absolute;
    right: -0.5px;
    top: 60px;
    background-color: white;
}
.footer-right {
    height: 100%;
    width: 50%;
    padding-left: 70px;
}
.footer-table-left {
    padding-top: 80px;
    margin-left: 130px;
}
.footer-table-left tr td{
    font-size: 15px;
    padding-bottom: 55px;
}
.footer-table-right {
    padding-top: 80px;
    margin-left: 70px;
}
.footer-table-left, .footer-table-right  {
    color: white;
}
.footer-table-right tr td{
    font-size: 15px;
    padding-bottom: 60px;
}
.footer-table-left tr td:first-child, .footer-table-right tr td:first-child {
    padding-right: 40px;
}
/* FOOTER */

/* ICON TO TOP */
.fa-angle-up {
    padding: 10px 15px;
    color: #fff;
    font-size: 18px;
    position: fixed;
    bottom: 50px;
    right: 60px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.81);
}

/* BODY */


/* FOR IPHONE */

@media screen and (max-width:480px) {
    body {
        position: relative;
    }

    /* TOP */
    .top {
        width: 100%;
        height: 100vh;
        background-image: url(../img/main480.jpg);
        background-size: cover;
    }

    /* HEADER */
    header {
        width: 100%;
        height: 100vh;
        padding-top: 0;
        padding-right: 0;
        /* position: relative; */
    }
    .icon {
        width: 35px;
        height: 35px;
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 4;
        background-color: blue;
        
    } 
    .humburger {
        position: absolute;
        top: 17px;
        right: 2px;
        width: 30px;
        height: 2px;
        background-color: #fff;
    }
    .humburger:before,
    .humburger:after {
        content: '';
        width: 30px;
        height: 2px;
        position: absolute;
        background-color: #fff;
    }
    .humburger:before {
        top: -10px;
    }
    .humburger:after {
        top: 10px;
    }
    nav {
        display: flex;
        justify-content: unset;
    }
    .nav-bar .menu-lists-active {
        left: 0;
    }
    .nav-list {
        width: 75%;
        height: 100%;
        padding-top: 6em;
        position: fixed;
        top: 0;
        left: -75%;
        background-color: rgba(0, 0, 0, 0.81);
        z-index: 2;
    }
    .nav-list li {
        display: block;
        padding-left: 3em;
        padding-bottom: 3em;
        text-shadow: 2px 2px black;
        margin-right: 0;
    }
    .nav-list li:last-child {
        padding: 0;
        padding-left: 3em;
        border: unset;
        box-shadow: unset;
    }
    .nav-list li a {
        padding-left: 0;
        font-size: 18px;
        color: white;
        border: unset;
    }
    /* HEADER */

    .frase {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(0, -50%);
    }
    .frase h1 {
        font-size: 30px;
        letter-spacing: .1em;
        text-shadow: 1px 1px black;
    }
    .frase p {
        font-size: 12px;
        letter-spacing: .2em;
        text-shadow: 1px 1px black;
    }
    .company-name {
        position: absolute;
        bottom: 20px;
        left: 10%;
        /* transform: translate(0, 0); */
    }
    .company-name p {
        width: 100%;
        font-size: 16px;
        text-shadow: 1px 1px black;
        letter-spacing: .1em;
        /* line-height: 1.5em; */
    }
    .company-name p:first-child {
        letter-spacing: .1em;
    }
    /* TOP */


    /* company-contents */
    .service-contents {
        width: 100%;
        height: auto;
        background-image: url(../img/contents-bg480.jpg);
        background-size: cover;
    }
    .company-contents-title {
        padding-top: 55px;
    }
    .company-contents-title h2 {
        font-size: 26px;
        letter-spacing: .3em;
    }
    .company-contents-title p {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .company-contents-upper {
        width: 100%;
        position: relative;
    }
    .company-contents-img {
        width: 70%;
        height: 240px;
        opacity: .8;
    }
    .contents-upper-box {
        width: 70%;
        height: 180px;
        padding: 0 20px;
        position: absolute;
        top: 28px;
        left: 20%;
        box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.4);
    }
    .contents-box-title {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .contents-box-text {
        font-size: 8px;
        /* letter-spacing: .1em; */
        line-height: 2em;
    }
    .company-contents-down {
        margin-top: 50px;
        margin-bottom: 0;
    }
    .contents-down-box {
        width: 70%;
        height: 180px;
        padding: 0 20px;
        position: absolute;
        top: 33px;
        left: 5%;
        box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.4);
    }

    /* LINEUP */
    .item-lineup {
        padding: 25px 0;
    }
    .lineup-container {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .item-lineup-title {
        width: 100%;
        margin: 0 auto;
        margin-right: 0;
        text-align: center;
    }
    .item-lineup-title h4 {
        width: 50%;
        margin: 0 auto;
        padding: 10px;
        font-size: 14px;
        border-radius: 4px;
    }
    .item-lineup-items p {
        font-size: 8px;
        line-height: 2em;
        padding-left: 0;
        margin-top: 20px;
    }
    /* LINEUP */

/* company-contents */


    /* VISON */
    .company-vision {
        height: auto;
        background-image: url(../img/vision-bg480.jpg);
        background-size: cover;
    }

    .vision-title {
        padding-top: 65px;
    }
    .vision-title h2 {
        font-size: 26px;
        /* letter-spacing: .3em; */
    }
    .vistion-items {
        width: 90%;
        margin: 0 auto;
    }
    .item1 {
        padding-top: 75px;
        padding-right: 0;
        padding-left: 0;
    }
    .item2 {
        padding-top: 110px;
        padding-right: 0;
        padding-left: 0;
    }
    .item3 {
        padding-top: 120px;
        padding-right: 0;
        padding-left: 0;
    }
    .vision-item dt h3 {
        padding-top: 8px;
        padding-right: 20px;
        font-size: 52px;
    }
    .vision-item dd {
        padding-top: 8px;
    }
    .vision-item dd h4 {
        padding-bottom: 15px;
        font-size: 16px;
        /* letter-spacing: 0.2em; */
        line-height: 1.5em;
    }
    .item1 dd h4, .item2 dd h4 {
        padding-right: 0;
    }
    .item2 dd h4 {
        letter-spacing: 0.1em;
    }
    .vision-item dd p {
        font-size: 10px;
        /* letter-spacing: 0.2em; */
        line-height: 2em;
    }
    .item3 dd p {
        padding-right: 0;
        padding-bottom: 95px;
    }
    /* VISON */

    /* CONTACT */

    #contact {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .contact-tel {
        width: 100%;
        height: 350px;
        background-image: url(../img/contact-tel480.jpg);
        background-size: 100% 100%;
    }
    .contact-tel h4 {
        font-size: 20px;
        line-height: 40px;
    }
    .contact-tel h4 span {
        font-size: 18px;
    }
    .contact-tel h4 .fa-phone-alt {
        font-size: 18px;
        padding-right: 0.5em;
    }
    .contact-mail {
        width: 100%;
        height: 350px;
    }
    .contact-mail h4 {
        font-size: 24px;
    }
    .contact-mail p {
        display: inline-block;
        margin-top: 30px;
    }
    .contact-mail p a {
        font-size: 14px;
    }
    /* CONTACT */

    /* FOOTER */

    footer {
        width: 100%;
        height: auto;
    }
    .footer-container {
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .footer-left {
        width: 100%;
        height: 100%;
    }
    .vertical-line {
        display: none;
    }
    .footer-right {
        width: 100%;
        height: 100%;
        padding-left: 0;
    }
    .footer-table-left {
        padding-top: 40px;
        margin-left: 0;
    }
    .footer-table-left tr td{
        font-size: 10px;
        padding-bottom: 30px;
    }
    .footer-table-right {
        padding-top: 0;
        margin-left: 0;
    }
    .footer-table-right tr td{
        font-size: 10px;
        padding-bottom: 30px;
    }
    .footer-table-left tr td:first-child {
        padding-right: 25px;
    } 
    .footer-table-right tr td:first-child {
        padding-right: 15px;
    }
    /* FOOTER */

    /* ICON TO TOP */
.fa-angle-up {
    padding: 6px 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    position: fixed;
    bottom: .5em;
    right: .5em;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.81);
}


}

@media screen and (min-width: 481px) and (max-width:1080px) {
    /* TOP */
    /* .top {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-image: url(../img/main.jpg);
        position: relative;
    } */

    /* HEADER */
    header {
        padding-top: 40px;
        padding-right: 20px;
    }
    /* nav {
        display: flex;
        justify-content: flex-end;
    } */

    .nav-list li {
        /* display: inline-block; */
        /* text-shadow: 2px 2px black; */
        margin-right: 30px;
    }
    .nav-list li:last-child {
        /* padding: 10px; */
        border: 2px solid white;
        /* box-shadow: 
        2px 2px, 2px 2px inset; */
    }
    .nav-list li a {
        font-size: 18px;
    }
    /* HEADER */

    .frase {
        position: absolute;
        top: 50%;
        left: 10%;
        /* transform: translate(0, -50%); */
    }
    .frase h1 {
        font-size: 46px;
        /* text-shadow: 1px 1px black; */
    }
    .frase p {
        font-size: 14px;
        /* letter-spacing: .3em; */
        /* text-shadow: 1px 1px black; */
    }
    .company-name {
        position: absolute;
        bottom: 20px;
        left: 10%;
        transform: translate(0, 0);
    }
    .company-name p {
        width: 100%;
        font-size: 18px;
        /* text-shadow: 1px 1px black;
        letter-spacing: .1em; */
        /* line-height: 1.5em; */
    }
    /* TOP */

    /* company-contents */
    /* .company-contents-title {
        padding-top: 80px;
        text-align: center;
    } */
    .company-contents-title h2 {
        font-size: 46px;
    }
    .company-contents-title p {
        font-size: 22px;
        margin: 50px 0;
    }
    .company-contents-upper {
        width: 100%;
        position: relative;
    }
    .company-contents-img {
        width: 65%;
        height: 450px;
        opacity: .8;
    }
    .contents-upper-box {
        padding: 0 40px;
        width: 530px;
        height: 336px;
        position: absolute;
        top: 58px;
        left: 20%;
    }
    .contents-box-title {
        font-size: 26px;
        /* padding-bottom: 20px; */
    }
    .contents-box-text {
        font-size: 14px;
    }
    /* .company-contents-down {
        width: 100%;
        margin-top: 80px;
        margin-bottom: 45px;
        position: relative;
        display: flex;
        justify-content: flex-end;
    } */
    .contents-down-box {
        width: 530px;
        height: 336px;
        top: 55px;
        left: 15%;
    }

    /* LINEUP */
    .item-lineup {
        padding: 40px 0;
    }
    .lineup-container {
        width: 89%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .item-lineup-title {
        width: 100%;
        margin: 0 auto;
        margin-right: 0;
        text-align: center;
    }
    .item-lineup-title h4 {
        width: 50%;
        margin: 0 auto;
        padding: 25px;
        font-size: 32px;
        border-radius: 4px;
    }
    .item-lineup-items p {
        font-size: 18px;
        line-height: 2em;
        padding-left: 0;
        margin-top: 30px;
    }
    /* LINEUP */

    /* company-contents */


    /* VISON */
    .company-vision {
        width: 100%;
        height: auto;
        background-image: url(../img/vision-bg.jpg);
        background-size: 100% 100%;
    }

    .vision-title {
        padding-top: 85px;
        text-align: center;
    }
    .vision-title h2 {
        font-size: 46px;
    }
    .vistion-items {
        padding-bottom: 100px;
    }
    .item1 {
        padding-right: 280px;
    }
    .item2 {
        padding-top: 120px;
        padding-right: 180px;
    }
    .item3 {
        padding-top: 120px;
        padding-right: 45px;
    }
    .vision-item dt h3 {
        padding-top: 3px;
        padding-right: 30px;
        font-size: 68px;
        font-style: italic;
    }
    .vision-item dd h4 {
        padding-bottom: 10px;
        font-size: 18px;
        line-height: 1.5em;
    }
    .vision-item dd p {
        font-size: 14px;
    }
    .item3 dd p {
        padding-right: 0;
    }
    /* VISON */


    /* FOOTER */
    .footer-right {
        height: 100%;
        width: 50%;
        padding-left: 70px;
    }
    .footer-table-left {
        /* padding-top: 80px; */
        margin-left: 70px;
    }
    .footer-table-left tr td{
        font-size: 12px;
        /* padding-bottom: 55px; */
    }
    .footer-table-right {
        /* padding-top: 80px; */
        margin-left: 70px;
    }
    .footer-table-right tr td{
        font-size: 12px;
        padding-bottom: 50px;
    }
    .footer-table-left tr td:first-child, .footer-table-right tr td:first-child {
        padding-right: 40px;
    }
/* FOOTER */
} 

/* FOR IPHONE */

@media screen and (min-width: 481px) and (max-width:780px) {
    /* VISON */
    .company-vision {
        height: auto;
        background-image: url(../img/vision-bg480.jpg);
        background-size: cover;
    }

    .vision-title {
        padding-top: 65px;
    }
    /* .vision-title h2 {
        font-size: 26px;
        letter-spacing: .3em;
    } */
    .vistion-items {
        width: 90%;
        margin: 0 auto;
    }
    .item1 {
        padding-top: 80px;
        padding-right: 20px;
        padding-left: 0;
    }
    .item2 {
        padding-top: 110px;
        padding-right: 20px;
        padding-left: 0;
    }
    .item3 {
        padding-top: 110px;
        padding-right: 20px;
        padding-left: 0;
    }
    .vision-item dt h3 {
        padding-top: 8px;
        padding-right: 30px;
        font-size: 68px;
    }
    .vision-item dd {
        padding-top: 8px;
    }
    .vision-item dd h4 {
        padding-bottom: 15px;
        font-size: 20px;
        /* letter-spacing: 0.2em; */
        line-height: 1.5em;
    }
    .item1 dd h4, .item2 dd h4 {
        padding-right: 15px;
    }
    .item2 dd h4 {
        letter-spacing: 0.1em;
    }
    .vision-item dd p {
        font-size: 14px;
        /* letter-spacing: 0.2em; */
        line-height: 2em;
    }
    .item3 dd p {
        padding-right: 0;
        padding-bottom: 0;
    }
    /* VISON */



    #contact {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .contact-tel {
        width: 100%;
        height: 600px;
        background-image: url(../img/contact-tel480.jpg);
        background-size: 100% 100%;
    }
    .contact-tel h4 {
        font-size: 30px;
        line-height: 50px;
    }
    .contact-tel h4 span {
        font-size: 24px;
    }
    .contact-tel h4 .fa-phone-alt {
        font-size: 22px;
        padding-right: 0.5em;
    }
    .contact-mail {
        width: 100%;
        height: 600px;
    }
    .contact-mail h4 {
        font-size: 34px;
    }
    .contact-mail p {
        display: inline-block;
        margin-top: 40px;
    }
    .contact-mail p a {
        font-size: 24px;
    }
    /* CONTACT */
    /* FOOTER */
    .footer-container {
        width: 92%;
        margin: 0 auto;
    }
    .footer-right {
        height: 100%;
        width: 50%;
        padding-left: 70px;
    }
    .footer-table-left {
        /* padding-top: 80px; */
        margin-left: 0;
    }
    .footer-table-left tr td{
        font-size: 8px;
        /* padding-bottom: 55px; */
    }
    .footer-table-right {
        /* padding-top: 80px; */
        margin-left: 30px;
    }
    .footer-table-right tr td{
        font-size: 8px;
        padding-bottom: 50px;
    }
    .footer-table-left tr td:first-child, .footer-table-right tr td:first-child {
        padding-right: 20px;
    }
/* FOOTER */
} 