/* 共通 */
* {
  box-sizing: border-box;
  text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

/* BODY */
.main-wrapper {
    width: 100%;    
    overflow: hidden;  
}

/* MENU BAR FOR IPHONE AND IPAD */
.menu-bar .menu-lists-active {
    position: fixed;
    top: 0;
    left: 0;  
}

/* TOP */
.top {
    height: 100vh;
    background-size: cover;
    background-image: url(../img/main.jpg);
}
.top-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.icon {
    display: none;
}

/* HEADER */
header {
    width: 100%;
    padding-top: 50px;
    padding-right: 55px;
    position: absolute;
    z-index: 1;
}
nav {
    display: flex;
    justify-content: flex-end;
}
.nav-list li {
    display: inline-block;
    text-shadow: 1.5px 1.5px  black;
    margin-right: 40px;
}
.nav-list li:last-child {
    padding: 10px;
    border: 3px solid white;
    box-shadow: 
    2px 2px, 2px 2px inset;
    transition: .8s;
}
.nav-list li:last-child:hover {
    opacity: 0.7;
}
.nav-list li a {
    font-size: 20px;
    color: white;
    position: relative;
}
.nav-list li a::after {
    border-bottom: 2px solid white;
    position: absolute;
    bottom: -10px;
    content: "";
    display: block;
    transition: all .3s ease;
    width: 0;
}
.nav-list li a:hover::after {
    width: 100%;
}
.nav-list li:last-child a::after {
    display: none;
}
/* HEADER */

/* TOP MAIN */
.frase {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translate(0, -50%);
}
.frase h1 {
    color: white;
    font-style: italic;
    font-size: 66px;
    letter-spacing: 0.3em;
    line-height: 1.5;
    text-shadow: 2px 2px black;
}
.frase p {
    color: white;
    letter-spacing: .3em;
    text-shadow: 2px 2px black;
}
.company-name {
    position: absolute;
    bottom: 35px;
    left: 80px;
}
.company-name p {
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px black;
    letter-spacing: .2em;
    text-align: center;
    line-height: 1.5em;
}
.company-name p:first-child {
    font-weight: bold;
    letter-spacing: .3em;
}
/* TOP */

/* ICON TO TOP */
.fa-angle-up {
    padding: 10px 15px;
    color: #fff;
    font-size: 18px;
    position: fixed;
    bottom: 50px;
    right: 60px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.81);
}

/* BODY */


/* FOR IPHONE */

@media screen and (max-width:480px) {
    body {
        position: relative;
    }

    /* TOP */
    .top {
        width: 100%;
        height: 100vh;
        background-image: url(../img/main480.jpg);
        background-size: cover;
    }

    /* HEADER */
    header {
        width: 100%;
        height: 100vh;
        padding-top: 0;
        padding-right: 0;
    }
    .icon {
        width: 50px;
        height: 50px;
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 4;
    } 
    
    /* HAMBERGER MENU */
    .hamburger {
        position: absolute;
        top: 24px;
        right: 16px;
        width: 18px;
        height: 2px;
        background-color: #fff;
        transition: .4s ease-in-out;
    }
    .hamburger:before,
    .hamburger:after {
        content: '';
        width: 18px;
        height: 2px;
        position: absolute;
        background-color: #fff;
        transition: .4s ease-in-out;
    }
    .hamburger:before {
        top: -6px;
    }
    .hamburger:after {
        top: 6px;
    }
    /* ANIMATION */
    .icon.active .hamburger {
        background-color: rgba(0,0,0,0);
    }
    .icon.active .hamburger:before {
        top: 0;
        transform: rotate(45deg);
    }
    .icon.active .hamburger:after {
        top: 0;
        transform: rotate(135deg);
    }
    /* ANIMATION */
    /* HAMBERGER MENU */
    
    nav {
        display: flex;
        justify-content: unset;
    }
    .nav-list {
        width: 75%;
        height: 100%;
        padding-top: 6em;
        position: fixed;
        top: 0;
        left: -75%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 4;
        transition: .5s;
    }
    .nav-list li {
        display: block;
        padding-left: 3em;
        padding-bottom: 3em;
        text-shadow: 2px 2px black;
        margin-right: 0;
    }
    .nav-list li:last-child {
        padding: 0;
        padding-left: 3em;
        border: unset;
        box-shadow: unset;
    }
    .nav-list li a {
        padding-left: 0;
        font-size: 18px;
        color: white;
        border: unset;
    }
    /* HEADER */

    /* TOP */
    .frase {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(0, -50%);
    }
    .frase h1 {
        font-size: 30px;
        letter-spacing: .1em;
        text-shadow: 1px 1px black;
    }
    .frase p {
        font-size: 12px;
        letter-spacing: .2em;
        text-shadow: 1px 1px black;
    }
    .company-name {
        position: absolute;
        bottom: 20px;
        left: 10%;
    }
    .company-name p {
        width: 100%;
        font-size: 16px;
        text-shadow: 1px 1px black;
        letter-spacing: .1em;
    }
    .company-name p:first-child {
        letter-spacing: .1em;
    }
    /* TOP */

    /* ICON TO TOP */
    .fa-angle-up {
        padding: 6px 10px;
        color: #fff;
        font-size: 20px;
        font-weight: 100;
        position: fixed;
        bottom: .5em;
        right: .5em;
        border: 1px solid #fff;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.81);
    }
}

@media screen and (min-width: 481px) and (max-width:780px) {
    /* HEADER */
    header {
        padding-top: 40px;
        padding-right: 15px;
    }

    .nav-list li {
        margin-right: 20px;
    }
    .nav-list li:last-child {
        border: 2px solid white;
    }
    .nav-list li a {
        font-size: 14px;
    }
    /* HEADER */

    .frase h1 {
        font-size: 48px;
    }

}

@media screen and (min-width: 781px) and (max-width:1080px) {
    /* HEADER */
    header {
        padding-top: 40px;
        padding-right: 20px;
    }

    .nav-list li {
        margin-right: 30px;
    }
    .nav-list li:last-child {
        border: 2px solid white;
    }
    .nav-list li a {
        font-size: 18px;
    }
    /* HEADER */

    /* TOP */
    .frase {
        position: absolute;
        top: 50%;
        left: 10%;
    }
    .frase h1 {
        font-size: 46px;
    }
    .frase p {
        font-size: 14px;
    }
    .company-name {
        position: absolute;
        bottom: 20px;
        left: 10%;
        transform: translate(0, 0);
    }
    .company-name p {
        width: 100%;
        font-size: 18px;
    }
    /* TOP */


    /* ICON TO TOP */
    .fa-angle-up {
        padding: 10px 15px;
        color: #fff;
        font-size: 20px;
        font-weight: 100;
        position: fixed;
        bottom: 20px;
        right: 20px;
        border: 1px solid #fff;
        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.81);
    }
} 
/* FOR IPHONE */